* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

.top {
    background: #083D77;
    color: white;
    padding: 2rem;
    font-family: "open sans";
    border-bottom: #90DDF0 solid 3px;
}

.intro{
    font-family: "open sans";
}

.main{
    padding: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-family: oswald;
}

.main h2 {
    margin-bottom: 1rem;
    font-family: "open sans";
}

.main ul {
    list-style-type: none;
}

.main li {
    display: inline-block;
    background-color: #90DDF0;
    border-radius: 10px;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: "open sans"
}

.main article {
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.main div {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.main img{
    max-width: 100%;
}

.footer{
    color: white;
    width: 100%;
    display: flex;
    font-family: "oswald";
}

.donate{
    width: 33.33%;
    height: 350px;
    background-size: 100%;
    background:linear-gradient(rgba(0,0,255,0.4),rgba(0,0,255,0.4)), no-repeat center/cover url(starter_files/images/donate.jpg);
    display: flex;
    margin: 0px;
    text-align: center;
    font-size: 52px;
    justify-content: center;
    align-items: center;
    
}

.volunteer{
    width: 33.33%;
    background: linear-gradient(rgba(0,0,255,0.4),rgba(0,0,255,0.4)), no-repeat center/cover url(starter_files/images/volunteer.jpg);
    display: flex;
    height: 350px;
    margin: 0px;
    text-align: center;
    font-size: 52px;
    justify-content: center;
    align-items: center;
}

.our-location{
    width: 33.33%;
    background:linear-gradient(rgba(0,0,255,0.4),rgba(0,0,255,0.4)), no-repeat center/cover url(starter_files/images/location.png);
    display: flex;
    height: 350px;
    margin: 0px;
    text-align: center;
    font-size: 52px;
    justify-content: center;
    align-items: center;
}